body{
    background-color: #6d8967;
}
/* ---Nav styling--- */ 

nav a:nth-child(2)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dbd5c7; 
    bottom: 0;
    left: 0;
  }
nav a:not(:nth-child(2))::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #dbd5c7; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
  }
nav a:hover:not(:nth-child(2))::after {
    width: 100%;
}

/* ---Recipes Styling--- */ 
.recipes{
    margin-top: 100px;
    margin-bottom: 100px;
}
.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 950px;
    margin-left: 280px;
    margin-top: 40px;
  }
  
.box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
.box img {
    width: 100%;
    display: block;
  }
  
#meals {
    position: absolute;
    bottom: 0;
    margin-bottom: 180px;
    margin-left: 50px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 0;
    width:60%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
#meals:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  .recipes .top h1,
.recipes .top .meal-btn,
.recipes .box #meals {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.recipes .top .meal-btn {
    transform: translateX(50px); 
}

.recipes .top h1.appear,
.recipes .top .meal-btn.appear,
.recipes .box #meals.appear {
    opacity: 1;
    transform: translateX(0); 
}

.recipes .box #meals:nth-child(1) { transition-delay: 0.2s; }
.recipes .box #meals:nth-child(2) { transition-delay: 0.4s; }
.recipes .box #meals:nth-child(3) { transition-delay: 0.6s; }
.recipes .box #meals:nth-child(4) { transition-delay: 0.2s; }
.recipes .box #meals:nth-child(5) { transition-delay: 0.4s; }
.recipes .box #meals:nth-child(6) { transition-delay: 0.6s; }

/* --Styling the Middle Sentence--*/ 

.menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.line{
    height: 3px;
    background-color: #dbd5c7;
    width: 200px;   
}
.menu h1{
    font-size: 3rem; 
    font-weight: 200;
    letter-spacing: 2px;
    font-family: "GFS Didot", serif;
    text-align: center;
    color: #dbd5c7;
    width: 50%;
}



