header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 30px;
    z-index: 1000;
    background-color: transparent; 
    transition: background-color 0.5s ease;
}
header.scrolled{
    background-color: black;
  }