@import url('https://fonts.googleapis.com/css2?family=Abel&family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=GFS+Didot&family=Jura:wght@300..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Khitan+Small+Script&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Zen+Maru+Gothic&display=swap');
body { overflow: visible ;}


nav a:nth-child(1)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #dbd5c7; 
  bottom: 0;
  left: 0;
}
nav a:not(:nth-child(1))::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #dbd5c7; 
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}
nav a:hover:not(:nth-child(1))::after {
  width: 100%;
}
 /* ----main section---- */
 .main{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background: url(../images/image4.jpg);
  background-size: cover;
  background-position: center;
  transform: scale(1);
  transition: transform 5s ease-in-out;
  animation:zoomIn 15s infinite alternate;
} 

.sections{
position:absolute;
  top:100%;
  left:0;
  width:100%;
  display: flex;
  flex-direction: column;
}
.recipes{
  height: 150vh;
  background-color: beige;
  background-size: cover;
  background-position: center;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background-color: #fff;
}
  .line {
    width: 100px; 
    height: 1px;
    background-color:#c7c7ba ; 
    margin-top: 350px ;
    margin-left: 320px;
    animation: expand 2s ease forwards;
    transform-origin: center;
}
@keyframes expand {
    0% {
        transform: scaleX(0); 
    }
    100% {
        transform: scaleX(2); 
    }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}
  .content {
    text-align: center;
    color: #c7c7ba;
    position: relative;
    left: -400px; 
  }
.main-heading{
  animation: fadeIn 2.5s ease forwards;
  opacity: 0;
}
  .main-heading h1 {
    font-size: 3rem; 
    font-weight: 300;
    letter-spacing: 2px;
    font-family: "GFS Didot", serif;
  }
  .subheading {
    font-size: 1.2rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
    left: -0.1px;
    font-family: "Montserrat", serif;
    font-weight: 200;
    opacity: 0;
    animation: fadeIn 2.5s ease forwards;
    animation-delay: 1s;
  }
  .subheading .text{
    font-size: 20px;
    max-width: 400px;
  }
  .dot {
    font-size: 3rem;
    color: #c7c7ba;
    margin-bottom: 22px;
  }
  .right-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.work-btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    border-radius: 25px; 
    padding: 10px 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #000;
    transition: background-color 0.3s;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 7s ease forwards;
}
.work-btn:hover {
    background-color: #ddd;
}
.work-btn .text {
    margin-right: 10px;
}
.work-btn .arrow {
    font-size: 20px;
}
/* ----main section---- */


/* ----recipes section---- */
  
  .top {
    display: flex;
    justify-content: center;
    gap:500px;
    align-items: center;
    max-width: 800px;
    /* margin: 10 auto 20px; */
    margin-top: 60px;
    margin-left:400px ;
  }


.top h1{
    font-size: 40px;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
    font-weight:600;
    font-style: normal;
  }

  .top .meal-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 14px 20px;
    background-color: black;
    color:white;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
    position: relative;
    width:auto;
    overflow: visible;
}

.meal-btn .text {
    flex: 1;
    font-size: 16px;
    white-space: nowrap;
    transition: transform 0.3s ease, color 0.3s ease;
    padding-right: 18px;
}

.meal-btn .icon {
    padding-left: 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.top .meal-btn:hover{
  background-color: white;
  color:black;
}
.top .meal-btn:hover .icon{
  color: black;
}

.meal-btn::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: white;
    right: 45px; 
    top: 0;
    transition: background-color 0.3s ease;
}

.top .meal-btn:hover:before{
  background-color: black;
}

  .image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 950px;
    margin-left: 280px;
    margin-top: 40px;
  }
  
  .box {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .box img {
    width: 100%;
    display: block;
  }
  
  #meals {
    position: absolute;
    bottom: 0;
    margin-bottom: 180px;
    margin-left: 50px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 10px 0;
    width:60%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  #meals:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  .recipes .top h1,
.recipes .top .meal-btn,
.recipes .box #meals {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.recipes .top .meal-btn {
    transform: translateX(50px); 
}

.recipes .top h1.appear,
.recipes .top .meal-btn.appear,
.recipes .box #meals.appear {
    opacity: 1;
    transform: translateX(0); 
}

.recipes .box #meals:nth-child(1) { transition-delay: 0.2s; }
.recipes .box #meals:nth-child(2) { transition-delay: 0.4s; }
.recipes .box #meals:nth-child(3) { transition-delay: 0.6s; }
.recipes .box #meals:nth-child(4) { transition-delay: 0.2s; }
.recipes .box #meals:nth-child(5) { transition-delay: 0.4s; }
.recipes .box #meals:nth-child(6) { transition-delay: 0.6s; }
  
/* ----recipes section---- */

/* ----workout section---- */
.workout {
  padding: 50px;
  background-color: #e1daca;
  overflow: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 3fr 2fr; 
  grid-template-rows: auto auto;
  grid-template-areas: 
      "card1 card2"
      "card1 card3-4";
  gap: 20px;
  padding: 20px;
}

.card1 {
  grid-area: card1;
}

.card2 {
  grid-area: card2;
  width: 700px;
}

.card3-4-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  grid-area: card3-4; 
}

.card3, .card4 {
  flex: 1;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  transition: border 0.3s ease;
  opacity: 0;
  transform: translateY(30px) scale(0.9); 
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.card.visible{
  animation: cardEnter 1s forwards; 
}
@keyframes cardEnter {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  60% {
    opacity: 0.8;
    transform: translateY(-10px) scale(1.02);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.card:hover {
  border: 2px solid #7e867c; 
}
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card:hover .card-content {
  opacity: 1;
}
.card.visible .card-content {
  opacity: 1;
}

.card-subtitle {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  /* margin-bottom: 80px; */
  color: white;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0 0 0;
  color: white;
}

.card1 .card-subtitle{
  margin-bottom: 20px;
  margin-left: 124px;
  letter-spacing: 13px;
    text-transform: uppercase;
}

.card1 .card-title{
  font-family: 'Montserrat', sans-serif; 
    font-size: 48px; 
    font-weight: 700;
    color: white;
    letter-spacing: normal; 
    margin-left: 120px;
    line-height: 1; 
    margin-bottom: 80px;
}

.card2 .card-subtitle{
  font-family: 'Roboto', sans-serif;
    font-size: 13px; 
    font-weight: 400; 
    color: #7e867c; 
    letter-spacing: 13px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 25px;
}

.card2 .card-title{
  font-family: 'Poppins', sans-serif;
  font-size: 20px; 
  font-weight: 800; 
  color: #7e867c; 
  letter-spacing: normal;
  line-height: 1.2;
  margin-bottom: 20px;
  margin-left: 20px;
}
.card2 button{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600; 
  font-style: italic;
  color: white;
  background-color: #303d2f; 
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 140px;
  margin-left: 60px;
}

.card2 button:hover{
  background-color: #8B8D87;
}
.card3 .card-subtitle, .card4 .card-subtitle{
  font-family: 'Roboto', sans-serif;
  font-size: 14px; 
  font-weight: 300; 
  color: white; 
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 8px;
}
.card3 .card-title, .card4 .card-title{
  font-family: 'Poppins', sans-serif;
  font-size: 30px; 
  font-weight: 700; 
  color: white; 
  letter-spacing: normal;
  line-height: 1.2;
  margin-bottom: 50px;
  margin-left: 20px;
}

 /*---BRANDS I HAVE WORKED WITH--- */ 
 @keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.brands {
  position: relative;
  background-color: beige;
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
}
.brands h1{
  font-family: "Playwrite GB S", serif;
  font-optical-sizing: auto;
  font-size: 40px;
  margin-left: 570px;
  margin-bottom: 20px;
}
.brands::before,
.brands::after {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 250px;
  height: 100%;
  content: "";
}
.brands:before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.brands:after{
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
.brands:hover .brand-slide{
  animation-play-state: paused;
}
.brands .brand-slide {
  display: inline-block;
  animation: slide 16s infinite linear;
}

.brand-slide img {
  height: 120px;
  margin: 0 40px;
}
 