nav a:nth-child(3)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dbd5c7;
    bottom: 0;
    left: 0;
}

nav a:not(:nth-child(3))::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #dbd5c7;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

nav a:hover:not(:nth-child(3))::after {
    width: 100%;
}

.section1 {

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 0%;
    background-color: #6ea5b0;

}

.heading1{
    padding: 70px;
    padding-bottom: 0%;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;

    padding: 5px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px;
    padding-top: 0%;
    padding-bottom: 0;
}

.container img {
    height: 300px;
    width: 250px;
    transition: 0.5s ease-in-out;
    overflow: hidden;

}

.container {
    width: 250px;
    border: 10px solid whitesmoke;
    cursor: pointer;
    overflow: hidden;
    background-color: whitesmoke;

}

.container:hover {
    transform: translateY(-4px);
}

.container:active {
    transform: translateY(-4px);
}

.container:hover img {
    filter: grayscale(1) brightness(0.7);
}

.content {
    color: #6ea5b0;
    width: 90%;
    bottom: 10%;
    left: 50%;
    text-align: center;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.highlight {
    filter: grayscale(1) brightness(0.7);
    transform: translateY(-4px);
    transition: transform 0.3s ease-in-out;

}
.part2{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.line {
  width: 200px; 
  height: 1px;
  background-color:whitesmoke ; 
  
  transform-origin: center;
}
.randomly {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   gap: 10px;
}

#randomButton {
    padding: 6px;
    color: #6ea5b0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: larger;
    
    
}
#randomButton:hover{
    background-color: black;
   

}
.randomly p {
    
    color: whitesmoke;
    padding: 20px;
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding: 50px;

    padding-top: 10px;
    background-color: black;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-track-container {
    overflow: hidden;

    display: flex;
    width: 100%;
    max-width: 2000px;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;


}

.carousel-item {
    text-align: center;
    border-radius: 50%;
    flex-shrink: 0;
    margin-right: 20px;


}

.carousel-item:last-child {
    margin-right: 0;
}

.carousel-item img {
    width: 100%;
    width: 180px;
    height: 180px;
    border-radius: 5px;
}

.arrow {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px;
    color: whitesmoke;
    top: 50%;
}

.carousel-item p {
    margin-top: 10px;
    font-size: 1em;
    background-color: #6ea5b0;
    color: whitesmoke;
    padding: 5px 10px;
    border: 2px solid;
    border: none;
    border-radius: 5px;
}

.carousel-item:hover {
    animation: carousel-item 1s infinite;
}

@keyframes carousel-item {

    0%,100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.carousel-item:hover img {
    filter: grayscale(1) brightness(0.7);
}

.section3 {
    text-align: center;
    padding: 50px;
    padding-top: 10px;
    background-color: #6ea5b0;
}

.Apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;

}

.app img {
    cursor: pointer;
    width: 100%;
    max-width: 120px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.app:hover img {
    transform: translateY(-4px);

}

.app:active img {
    transform: translateY(-4px);
}


.star {
    display: flex;
    font-size: 25px;
    color: whitesmoke;
}

.star.filled {
    color: gold;
}



h3 {
    margin: 0;
    color: whitesmoke;
    padding-top: 2px;
}