nav a:nth-child(3)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dbd5c7;
    bottom: 0;
    left: 0;
}

nav a:not(:nth-child(3))::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #dbd5c7;
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
}

nav a:hover:not(:nth-child(3))::after {
    width: 100%;
}

.section1 {
    padding: 70px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 0%;
    background-color: #6ea5b0;

}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: none;

    padding: 5px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;
padding-bottom: 40px;

}

.container img {
    height: 300px;
    width: 250px;
    transition: 0.5s ease-in-out;

    overflow: hidden;

}

.container {
    width: 250px;
    border: 10px solid whitesmoke;
    cursor: pointer;
    overflow: hidden;
    background-color: whitesmoke;
    
}

.container:hover {
    transform: translateY(-4px);
}

.container:active {
    transform: translateY(-4px);
}

.container:hover img {
    filter: grayscale(1) brightness(0.7);
}
.content {
    color: #6ea5b0;
    width: 90%;
    bottom: 10%;
    left: 50%;
    text-align: center;
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section2 {
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 10px;
    background-color: black;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.carousel-track-container {
    overflow: hidden;
    width: calc(30px * 5 + 10px * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 2000px;
}

.carousel-track {
    
    display: flex;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    
}

.carousel-item {
    width: 180px;
    height: 180px;

    border-radius: 50%;
    flex-shrink: 0;
    cursor: pointer;
}

.arrow {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    padding: 10px;
    color: whitesmoke;
    top: 50%;
}
.circle {
    position: relative; 
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px; 
}
.circle p {
    display: none;
    position: absolute;
    bottom: 40%; 
    color:#6ea5b0;
    padding: 5px; 
    font-size: medium; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center; 
    margin: 0; 
    max-width: 90%; 
}
.circle:hover img{
    filter: grayscale(1) brightness(0.3);
    width: 200px;
    height: 200px;
}
.circle:hover p{
    display: flex;
}


.section3 {
    text-align: center;
    padding: 50px;
    padding-top: 10px;
    background-color: #6ea5b0;
}



.Apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
}

.app img {
    cursor: pointer;
    width: 100%;
    max-width: 120px;
    margin-bottom: 10px;
}
.app:hover img{
    transform: translateY(-4px);
}
.app:active img{
    transform: translateY(-4px);
}


.star {
    display: flex;
    font-size: 25px;
    color: whitesmoke;
}

.star.filled {
    color: gold;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;
}

h3 {
    margin: 0;
    color: whitesmoke;
    padding-top: 2px;
}