body{
    background-color: #6d8967;
}
nav a:nth-child(3)::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #dbd5c7; 
    bottom: 0;
    left: 0;
  }
nav a:not(:nth-child(3))::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #dbd5c7; 
    bottom: 0;
    left: 0;
    transition: width 0.3s ease;
  }
nav a:hover:not(:nth-child(3))::after {
    width: 100%;
}
.section1{
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
h2{
    color: #6d8967;
    display: flex;
    justify-content: center;
    border: 2px solid ;
    border: none;
    background-color: beige;
    padding: 5px;
}
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 9px; 
    position: relative;
}
.container img{
    height:300px;
    width: 250px;
    transition: 0.5s ease-in-out;
    z-index: 1;
}
.container{
    width: 250px;
    aspect-ratio: 1/0.7;
    position: relative;
    cursor: pointer;
}
.container::after{
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 0.4s ease-in-out;
    z-index: 2;
}
.container:hover img {
    filter: grayscale(1) brightness(0.7);
}
.container:hover .content {
    opacity: 1;
    bottom: 50%;
    
}
.content{
    color: beige;
    width: 90%;
    position: absolute;
    bottom: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-50%, 0);
    text-align: center;
    opacity: 0;
    font-size: larger;
    transition: opacity 0.4s ease-in-out, bottom 0.2s ease-in-out;
}
.container.active .content {
    opacity: 1;
    bottom: 0;
}
